body {
  margin:0;
  padding:0;
  background: url(../img/background.jpg) no-repeat center fixed;
  background-size: cover;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
}

p {
  color: white
}
