:root {
  --bg-color: rgb(148, 156, 148);
  --bg-color-transparency: rgba(148, 156, 148, 0.8);
}

body {
    margin: 0;
    padding: 0;
    background: url(../img/background.jpg) no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    /* pour anciens Chrome et Safari */
}

.container {
    width: 1160px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
}

.jumbotron {
    background-color: var(--main-bg-color);
    background-color: var(--bg-color-transparency);
    border-radius: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-family: verdana;
    font-size: 18pt;
}

form {
    background-color: var(--main-bg-color);
    background-color: var(--bg-color-transparency);
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: verdana;
    font-size: 10pt;
}

label {
    margin-left: 30px;
    width: 140px;
    display: inline-block;
}

input {
    width: 200px;
}

.button {
    margin-top: 20px;
    text-align: center;
}

button {
  margin-right: 50px;
  border-width: 4px;
  border-color: rgb(0, 0, 0);
  border-color: rgba(0, 0, 0, 0.5);
}
