<nav class="navbar navbar-default transparent" >
    <ul class="nav navbar-nav">
        <li ng-class="{ active: navbarCtrl.isActive('/family-member-form') }">
          <a href="#/family-member-form">Create a family member</a>
        </li>
        <li ng-class="{ active: navbarCtrl.isActive('/family-list') }">
          <a href="#/family-list">Family list</a>
        </li>
        <li ng-class="{ active: navbarCtrl.isActive('/family-relationship') }">
          <a href="#/family-relationship">Connecting famiy members</a>
        </li>
        <li ng-class="{ active: navbarCtrl.isActive('/family-tree') }">
          <a href="#/family-tree">Family tree</a>
        </li>
    </ul>
</nav>

<br/>
