<form>
    <label>Nom : </label><input type="text" ng-model="user.surname"/>
    <br/>
    <label>1er prénom : </label><input type="text" ng-model="user.name1"/>
    <label>2ème prénom : </label><input type="text" ng-model="user.name2"/>
    <label>3ème prénom : </label><input type="text" ng-model="user.name3"/>
    <br/>
    <label>Date de naissance : </label><input type="text" ng-model="user.birthdate"/>
    <label>Lieu de naissance : </label><input type="text" ng-model="user.birthplace"/>
    <br/>
    <label>Date de décès : </label><input type="text" ng-model="user.deathdate"/>
    <label>Lieu de décès : </label><input type="text" ng-model="user.deathplace"/>
    <br/>
    <div class="button">
      <button type="submit">Reset !</button>
      <button type="submit">submit !</button>
    </div>
</form>
