<p>Hello {{personForm.what}}</p>

<form>
    <label>Nom : </label><input type="text" ng-model="user.surname"/>
    <br/>
    <label>1er prénom : </label><input type="text" ng-model="user.name1"/>
    <label>2ème prénom : </label><input type="text" ng-model="user.name2"/>
    <label>3ème prénom : </label><input type="text" ng-model="user.name3"/>
    <br/>
    <label>Date de naissance : </label><input type="text" ng-model="user.name3"/>
    <label>Lieu de naissance : </label><input type="text" ng-model="user.name3"/>
    <br/>
    <label>Date de décès : </label><input type="text" ng-model="user.name3"/>
    <label>Lieu de décès : </label><input type="text" ng-model="user.name3"/>
    <br/>
    <button type="submit">submit !</button>
</form>
