:root {
    --bg-color: rgb(148, 156, 148);
    --bg-color-transparency: rgba(148, 156, 148, 0.8);
}

body {
    margin: 0;
    padding: 0;
    background: url(../img/background.jpg) no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    font-family: verdana;
    /* pour anciens Chrome et Safari */
}

.title {
    font-size: 20pt;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    /* overriding boostrap's jumbotron default padding */
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.transparent {
    background-color: var(--main-bg-color);
    background-color: var(--bg-color-transparency);
    border-color: var(--main-bg-color);
    border-color: var(--bg-color-transparency);
}

.navbar-nav {
    display: table;
    width: 100%;
    margin: 0;
}

.navbar-nav>li {
    float: none;
    display: table-cell;
    text-align: center;
}

form {
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10pt;
}

label {
    margin-left: 30px;
    width: 150px;
    display: inline-block;
}

input {
    width: 180px;
}

.button {
    margin-top: 5px;
    text-align: center;
    padding-right: 50px;
    height: 40px;
}

.button button {
    float: right;
    margin-right: 10px;
}
